<%= form_with(model: homework, local: true) do |form| %>
<% if homework.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(homework.errors.count, "error") %> prohibited this homework from being saved:</h2>

  <ul>
    <% homework.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= form.label :homework_name %>
  <%= form.text_area :homework_name %>
</div>

<div class="field">
  <%= form.label :category %>
  <% if @homework.category.present? %>
  <%= select_tag 'homework[category_id]', options_for_select(@category.collect { |c| [c.name, c.id] }, {:selected => @homework.category.id}) %>
  <% else %>
  <%= select_tag 'homework[category_id]', options_for_select(@category.collect { |c| [c.name, c.id] }) %>
  <% end %>


  <div class="field">
    <%= form.label :deadline %>
    <%= form.date_select :deadline %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
  <% end %>
