<p id="notice"><%= notice %></p>

<p>
  <strong>Homework name:</strong>
  <%= @homework.homework_name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @homework.category %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @homework.deadline %>
</p>

<p>
  <strong>Description:</strong>
  <%= @homework.description %>
</p>

<%= link_to 'Edit', edit_homework_path(@homework) %> |
<%= link_to 'Back', homeworks_path %>
